Trained[[:space:]]model/* filter=lfs diff=lfs merge=lfs -text
hub/models--seyonec--ChemBERTa-zinc-base-v1/* filter=lfs diff=lfs merge=lfs -text
hub/models--seyonec--ChemBERTa-zinc-base-v1/** filter=lfs diff=lfs merge=lfs -text
